#mainPage {
    background-color: #eee
}

.card {
    border-bottom: 1px red solid;
    direction: rtl;
}

.collection {
    direction: rtl;
    padding: 0px;
}

.collection-item>h5 {
    color: green
}

.addCommentDiv {
    width: 100%;
    text-align: center;
}

.btn {
    color: white !important;
    background-color: #d32f2f !important;
}

.ui-input-text,
.ui-input-search {
    border-style: none !important;
}

.addCommBu {
    text-align: center;
}

.ui-content {
    padding: 0px !important;
}

.ui-content .collection {
    border: none;
    border-bottom: 1px solid #d32f2f;
}

.goto,
.badge {
    float: left !important;
}

#menu_button {
    float: right;
    position: initial;
    line-height: 100% !important;
}

.menu .collection {
    border: none;
    border-bottom: 1px solid #e0e0e0;
}

.no_connection {
    height: 30px;
    background-color: yellow;
    text-align: center;
    color: black;
    line-height: 30px;
}