#mainPage{
	background-color: #eee
}

.card{
	border-bottom: 1px red solid;
	direction: rtl;
}

.collection{
	direction: rtl;
	padding: 0px;
}

.collection-item > h5{
	color: green
}

.addCommentDiv{
	width: 100%;
	text-align: center;
}

.btn{
	color: white !important;
	background-color: #d32f2f !important;
}


				
				  